nav{
    background-color: rgb(111, 3, 138);
    color: azure;
    padding:10px;
    text-align: center;
}
section{
    border:3px black solid;
    border-radius:10px;
    padding: 25px;
    margin:15px 0;
    
}
.cuadrados{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
#c{
    width: 100px;
    height:100px;
}
.cuadrito1{
    background-color: rgb(91, 8, 247);
    box-shadow:5px 5px 10px black;
}
.cuadrito2{
    background-color: rgb(30, 3, 92);
    box-shadow:-5px -5px 10px black;
}
.cuadrito3{
    background-color: rgba(248, 6, 236, 0.623);
    box-shadow: 0px 10px 5px black;
}
.cuadrito4{
    background-color: rgb(75, 0, 146);
    box-shadow:8px 0px 3px black;
}
.cuadrito5{
    background-color: rgb(248, 19, 210);
    box-shadow:1px -8px 1px black;
}
main{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.imagenes{
    text-align:center;
}

#d{
    width: 200px;
    height:200px;
    margin: auto;
    margin-left:10px;
    margin-right:10px;
   
}
.image1{
    box-shadow:5px 5px 10px black;
}

.image2{
    box-shadow:-5px -5px 10px black;
    
}

.image3{
    box-shadow: 0px 10px 5px black;
}
.image4{
    box-shadow:8px 0px 3px black;
}
.image5{
    box-shadow:1px -8px 1px black;
    
}

.png {
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
    text-align: center;
  }

  .png1 { filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3)); }
  .png2 { filter: drop-shadow(-5px 5px 10px rgba(200,0,200,0.5)); }
  .png3 { filter: drop-shadow(0 10px 20px rgba(0,150,0,0.4)); }
  .png4 { filter: drop-shadow(10px 0 30px rgba(0,0,255,0.5)); }
  .png5 { filter: drop-shadow(-10px -10px 15px rgba(255,100,0,0.4)); }

#f{
width: 180px;
height:180px;

}

footer {
    background-color: #9b06e0;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
  }

  .icono {
    background: none;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
  }

  .icono i {
    background: none;
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
  }
 