section h1{
background-color: rgb(2, 2, 2);
color: #eeebeb;
text-align: center;
padding:20px;
margin-bottom:0px;
}
section{
    width: 100%;
    height: 100%;
    text-align: center;
   

}
.seccion1{
    background-color: rgb(243, 6, 223);
    margin-bottom:20px;

}
.seccion2{
    background-color: rgb(179, 15, 194);
    margin-bottom:20px;
}
.seccion3{
    background-color: rgb(40, 9, 124);

}
.seccion1 h2{
   width: 40%;
    padding: 20px;
    text-align: center;
    margin: auto;
    background-color: rgb(119, 64, 107);
    margin-bottom:10px;
    color: aliceblue;
}
.seccion2 h2{
    width: 40%;
     padding: 20px;
     text-align: center;
     margin: auto;
     background: none;
     margin-bottom:10px;
     border:#080808 4px solid;
 }
 .seccion3 h2{
    width: 40%;
     padding: 20px;
     text-align: center;
     margin: auto;
     background-color: rgb(76, 112, 136);
     margin-bottom:10px;
     border: #080808 4px solid;
 }
 footer {
    background-color: #8a05be;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
  }

  .icono {
    background: none;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
  }

  .icono i {
    background: none;
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
  }
 
 
 
